#schedules-success {
    section {
        flex-direction: column;
        margin-left: var(--space);
        color: var(--gray-0);
        font-size: 22px;
        span:first-child {
            margin-bottom: 30px;
        }
        small {
            font-size: 16px;
        }
    }
    footer.fixed {
        justify-content: center;
        a {
            padding: 0 var(--space);
            background-color: var(--green);
            color: var(--white);
        }
    }
}

@media (min-width: 1200px) {
    #schedules-success {
        footer.fixed {
            justify-content: flex-start;
        }
    }
}